<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- thêm thẻ link để file css ăn được vào html-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    with ejs and phan duc cong quang
    <div>
        <img class="hoidanit" src="/images/anh1.jpg" />
        <!--/images/anh1.jpg"/> đường dẫn như thế này vì ta đã 
        cấu hình static file là những file nằm trong thư mục public 
    nên chỉ cần đường dẫn tương đối như thế nauyf-->
    </div>
</body>

</html>